In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, ParameterGrid
from sklearn.metrics import *
import time

%matplotlib inline

In [2]:
jailbooking = pd.read_csv("booking.csv")
entries = pd.read_csv("entries_201805311548.csv")
mentalhealth = pd.read_csv('health.csv')
inmate = pd.read_csv('jocojims2inmatedata_201805311745.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (9,10,14,18,19,26,30,31,32,34,35,36,37,38,40,49,52,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
inmate.columns

Index(['inmate_no', 'dob', 'age', 'original_sex', 'sex', 'original_race',
       'race', 'hair', 'eyes', 'height', 'weight', 'mar_stat', 'city', 'state',
       'zip', 'country', 'birth_place', 'arr_agency', 'original_case_number',
       'case_no', 'arrest_dt', 'arrest_time', 'trans_agency', 'control_',
       'bk_dt', 'book_time', 'bonding', 'arr_location', 'b_state', 'mni_no',
       'location', 'license_state', 'veh_lic__', 'veh_lic_state',
       'veh_lic_year', 'veh_make', 'veh_model', 'veh_color', 'dna_draw',
       'l_e_case_', 'same_as_', 'rel_date', 'release_time',
       'associated_records', 'driver_s_lic_type',
       'new_booked_inmate___orientation', 'exp_stamp', 'complexion', 'cfn',
       'demographic_code', 'pros_wksht__', 'ethnic', 'mnh_refer_dt', 'lgbt',
       'at_risk', 'exploited', 'past_year', 'concerns', 'int_dt',
       'notify_asap', 'notify_verbal', 'religion', 'diet', 'rstr_liv_cond',
       'printed_chow', 'prev_bkno', 'ofndr_reg_req', 'ofndr_stamp',
       'ofndr_match_type', 'ofndr_key', 'gcvalidity', 'gcsrctbl', 'gcscore',
       'gccity', 'gccounty', 'gcstate', 'gczipcode', 'gctract2010id',
       'gcblockgroup2010id', 'gcblock2010id', 'hash_ssn', 'hash_ssn4',
       'hash_lname', 'hash_fname', 'geom', 'dedupe_id'],
      dtype='object')

In [4]:
inmate = inmate[['race', 'mar_stat', 'city', 'state', 'zip', 'dedupe_id']]

In [5]:
inmate = inmate.drop_duplicates(subset=['dedupe_id'])

In [6]:
inmate.shape

(144254, 6)

In [7]:
inmate.dedupe_id.nunique()

144253

In [8]:
entries.rename(columns={'foreign_id' : 'mni_no'}, inplace=True)
entries = entries[["mni_no", "dedupe_id", 'dob',  'sex']]

In [9]:
entries.shape

(899470, 4)

In [10]:
ent_inmate = pd.merge(entries, inmate, left_on='dedupe_id', right_on='dedupe_id')

In [11]:
ent_inmate.shape

(366077, 9)

In [12]:
ent_inmate.to_csv("ent_inmate.csv")

In [13]:
jailbooking.columns

Index(['mni_no', 'case_no', 'case_type', 'booking_no', 'arresting_agency',
       'arresting_agency_type', 'booking_date', 'release_date', 'bail_type',
       'bail_amt', 'bailed_out'],
      dtype='object')

In [14]:
jailbooking = jailbooking.dropna(subset=['mni_no'])

In [15]:
jailbooking.shape

(28579, 11)

In [16]:
ent_inmate[ent_inmate['dedupe_id']==487227]

,mni_no,dedupe_id,dob,sex,race,mar_stat,city,state,zip
184403,669258,487227.0,1973-02-09,MALE,WHITE,S,KANSAS CITY,KS,66103
184404,669263,487227.0,1974-02-09,MALE,WHITE,S,KANSAS CITY,KS,66103
184405,141326,487227.0,1974-02-09,MALE,WHITE,S,KANSAS CITY,KS,66103
184406,669265,487227.0,1974-02-09,MALE,WHITE,S,KANSAS CITY,KS,66103
184407,669261,487227.0,1974-02-09,MALE,WHITE,S,KANSAS CITY,KS,66103
184408,669260,487227.0,1974-02-09,MALE,WHITE,S,KANSAS CITY,KS,66103
184409,669262,487227.0,1974-02-09,MALE,WHITE,S,KANSAS CITY,KS,66103
184410,669264,487227.0,1974-02-09,MALE,WHITE,S,KANSAS CITY,KS,66103
184411,669259,487227.0,1974-02-09,MALE,WHITE,S,KANSAS CITY,KS,66103

In [17]:
withbooking = pd.merge(ent_inmate, jailbooking, on='mni_no')

In [18]:
withbooking[withbooking['dedupe_id']==309]

,mni_no,dedupe_id,dob,sex,race,mar_stat,city,state,zip,case_no,case_type,booking_no,arresting_agency,arresting_agency_type,booking_date,release_date,bail_type,bail_amt,bailed_out
11129,673675,309.0,1978-04-07,MALE,WHITE,S,OLATHE,KS,66061,14DV00270,DV,14002590,OLATHE P.D.,CITY,2014-03-04 00:00:00,2014-03-05 00:00:00,PR,1500.0,True
11130,673675,309.0,1978-04-07,MALE,WHITE,S,OLATHE,KS,66061,15DV00382,DV,15003546,LENEXA P.D.,CITY,2015-03-26 00:00:00,2015-03-27 00:00:00,SUR,1000.0,True
11131,673675,309.0,1978-04-07,MALE,WHITE,S,OLATHE,KS,66061,16DV00234,DV,16002371,LENEXA P.D.,CITY,2016-02-24 00:00:00,2016-04-28 00:00:00,NaN,NaN,False

In [19]:
mentalhealth.columns

Index(['hash_ssn', 'hash_ssn4', 'hash_lname', 'hash_fname', 'patid', 'dob',
       'race', 'sex', 'hash_gcstreetaddress', 'city', 'state', 'zip',
       'gcvalidity', 'gcsrctabl', 'gcscore', 'gccity', 'gccounty', 'gcstate',
       'gczipcode', 'hash_gclonglat', 'gctract2010id', 'gcblockgroup2010id',
       'gcblock2010id', 'admit_date', 'dschrg_date', 'program', 'pri_dx_code',
       'pri_dx_value', 'refferal_source', 'case_id', 'dedupe_id'],
      dtype='object')

In [20]:
mentalhealth = mentalhealth[['dedupe_id','pri_dx_value', 'refferal_source']]

In [21]:
mentalhealth.head()

,dedupe_id,pri_dx_value,refferal_source
0,190642.0,UNSPECIFIED AFFECTIVE PSYCHOSIS,NaN
1,1780.0,DEPRESSIVE DISORDER NOS,NaN
2,583264.0,"BIPOLAR DISORDER, DEPRESSED, SEVERE W/O PSYCHO...",NaN
3,666871.0,"SCHIZOPHRENIC DISORDER, SCHIZO-AFFECTIVE TYPE,...",NaN
4,114636.0,"MANIC DISORDER, SINGLE EPISODE, IN FULL REMISSION",SELF

In [22]:
mentalhealth['refferal_source'].loc[mentalhealth['refferal_source'] != 'SELF'] = 'OTHERS'

In [23]:
mentalhealth.head()

,dedupe_id,pri_dx_value,refferal_source
0,190642.0,UNSPECIFIED AFFECTIVE PSYCHOSIS,OTHERS
1,1780.0,DEPRESSIVE DISORDER NOS,OTHERS
2,583264.0,"BIPOLAR DISORDER, DEPRESSED, SEVERE W/O PSYCHO...",OTHERS
3,666871.0,"SCHIZOPHRENIC DISORDER, SCHIZO-AFFECTIVE TYPE,...",OTHERS
4,114636.0,"MANIC DISORDER, SINGLE EPISODE, IN FULL REMISSION",SELF

In [24]:
mentalhealth['pri_dx_value'].fillna('missing', inplace = True)

In [25]:
mentalhealth['refferal_source'].fillna('OTHERS', inplace = True)

In [26]:
mentalhealth.drop_duplicates(subset=['dedupe_id'])

,dedupe_id,pri_dx_value,refferal_source
0,190642.0,UNSPECIFIED AFFECTIVE PSYCHOSIS,OTHERS
1,1780.0,DEPRESSIVE DISORDER NOS,OTHERS
2,583264.0,"BIPOLAR DISORDER, DEPRESSED, SEVERE W/O PSYCHO...",OTHERS
3,666871.0,"SCHIZOPHRENIC DISORDER, SCHIZO-AFFECTIVE TYPE,...",OTHERS
4,114636.0,"MANIC DISORDER, SINGLE EPISODE, IN FULL REMISSION",SELF
5,38306.0,PANIC DISORDER,OTHERS
6,197461.0,"MAJOR DEPRESSIVE DISORDER, RECURRENT, MODERATE",OTHERS
7,74789.0,ATTENTION DEFICIT DISORDER WITH HYPERACTIVITY,OTHERS
8,439589.0,PROLONGED POST TRAUMATIC STRESS DISORDER,OTHERS
9,716225.0,"SCHIZOPHRENIC DISORDER, PARANOID TYPE",OTHERS
10,619848.0,"BIPOLAR DISORDER, UNSPECIFIED",OTHERS
11,370526.0,"MAJOR DEPRESSIVE DISORDER, RECURRENT, MILD",SELF
12,132831.0,"MAJOR DEPRESS. DISORDER, RECURRENT, W/ PSYCH F...",OTHERS
13,521749.0,ADJUSTMENT REACTION WITH ANXIOUS MOOD,OTHERS
14,597341.0,UNSPECIFIED AFFECTIVE PSYCHOSIS,OTHERS
15,167361.0,UNSPECIFIED AFFECTIVE PSYCHOSIS,SELF
16,331950.0,DEPRESSIVE DISORDER NOS,SELF
17,666055.0,"POST-TRAUMATIC STRESS DISORDER, UNSPECIFIED",OTHERS
18,531376.0,"MAJOR DEPRESSIVE DISORDER, RECURRENT, UNSPECIFIED",SELF
19,589464.0,"MANIC DEPRESSIVE PSYCHOSIS, UNSPECIFIED",SELF
20,187747.0,"ANXIETY STATE, UNSPECIFIED",OTHERS
21,426683.0,"MAJOR DEPRESSIVE DISORDER, RECURRENT, SEVERE W...",OTHERS
22,554619.0,missing,OTHERS
23,111693.0,DEPRESSIVE DISORDER NOS,OTHERS
24,108571.0,missing,OTHERS
25,630050.0,"OTHER SPECIFIED EARLY CHILDHOOD PSYCHOSES, CUR...",OTHERS
26,677574.0,missing,OTHERS
27,303951.0,"MAJOR DEPRESSIVE DISORDER, RECURRENT, MILD",SELF
28,666019.0,"MANIC DEPRESSIVE PSYCHOSIS, UNSPECIFIED",OTHERS
29,23345.0,DEPRESSIVE DISORDER NOS,OTHERS
...,...,...,...
26050,745862.0,UNSPECIFIED AFFECTIVE PSYCHOSIS,OTHERS
26052,746198.0,"MAJOR DEPRESSIVE DISORDER, SINGLE EPISODE, MOD...",OTHERS
26055,746283.0,ADJUSTMENT DISORDER WITH MIXED EMOTIONAL FEATURES,OTHERS
26056,746410.0,DEPRESSIVE DISORDER NOS,OTHERS
26057,746638.0,ADJUSTMENT DISORDER WITH DEPRESSED MOOD,OTHERS
26058,747575.0,GENERALIZED ANXIETY DISORDER,OTHERS
26060,747610.0,"ATTN-DEFCT HYPERACTIVITY DISORDER, PREDOM INAT...",OTHERS
26062,747640.0,"CONDUCT DISORDER, UNSPECIFIED ONSET",OTHERS
26064,748161.0,ATTENTION DEFICIT DISORDER WITH HYPERACTIVITY,OTHERS
26067,748944.0,GENERALIZED ANXIETY DISORDER,SELF
26068,748950.0,UNSPECIFIED AFFECTIVE PSYCHOSIS,OTHERS
26069,749311.0,"IMPULSE DISORDER, UNSPECIFIED",OTHERS
26070,749584.0,"ATTN-DEFCT HYPERACTIVITY DISORDER, PREDOM INAT...",OTHERS
26071,749688.0,UNSPECIFIED PSYCHOSIS,OTHERS
26072,749987.0,GENERALIZED ANXIETY DISORDER,OTHERS
26074,750187.0,ATTENTION DEFICIT DISORDER WITH HYPERACTIVITY,OTHERS
26075,750267.0,UNSPECIFIED MOOD [AFFECTIVE] DISORDER,OTHERS
26078,750470.0,"MANIC DEPRESSIVE PSYCHOSIS, UNSPECIFIED",SELF
26079,750622.0,DEPRESSIVE DISORDER NOS,OTHERS
26080,750891.0,OTHER MANIC EPISODES,OTHERS
26082,751110.0,"MANIC DEPRESSIVE PSYCHOSIS, UNSPECIFIED",OTHERS
26084,751320.0,ATTENTION DEFICIT DISORDER WITH HYPERACTIVITY,OTHERS
26085,751414.0,ADJUSTMENT REACTION WITH ANXIOUS MOOD,OTHERS
26086,751428.0,DEPRESSIVE DISORDER NOS,OTHERS
26088,751669.0,OTHER PERSISTENT MOOD [AFFECTIVE] DISORDERS,OTHERS
26089,751896.0,UNSPECIFIED DISTURBANCE OF CONDUCT,OTHERS
26090,752020.0,INTERMITTENT EXPLOSIVE DISORDER,OTHERS
26091,752160.0,ADJUSTMENT DISORDER W/MIXED DISTURBANCE OF EMO...,OTHERS
26092,752173.0,MAJ DEPRESS. DIS. SNGL EPIS. SEV. W/O PSYCH,SELF
26095,752567.0,UNSPECIFIED AFFECTIVE PSYCHOSIS,SELF

In [27]:
almost_done = pd.merge(withbooking, mentalhealth, on='dedupe_id', how='left')

In [28]:
almost_done.shape

(34823, 21)

In [29]:
withbooking=withbooking.drop_duplicates()

In [30]:
withbooking[withbooking['mni_no']==658145]

,mni_no,dedupe_id,dob,sex,race,mar_stat,city,state,zip,case_no,case_type,booking_no,arresting_agency,arresting_agency_type,booking_date,release_date,bail_type,bail_amt,bailed_out
3,658145,350849.0,1997-04-12,FEMALE,WHITE,S,EDGERTON,KS,66021,15CR02335,CR,15011570,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2015-10-07 00:00:00,2015-10-07 00:00:00,SUR,10000.0,True

In [31]:
withbooking.dedupe_id.nunique()

21258

In [32]:
withbooking.shape

(27904, 19)

In [33]:
withbooking.mni_no.nunique()

21130

In [34]:
almost_done

,mni_no,dedupe_id,dob,sex,race,mar_stat,city,state,zip,case_no,...,booking_no,arresting_agency,arresting_agency_type,booking_date,release_date,bail_type,bail_amt,bailed_out,pri_dx_value,refferal_source
0,679537,301831.0,1974-04-02,MALE,WHITE,M,SHAWNEE,KS,66226,15CR00773,...,15003768,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2015-04-01 00:00:00,2015-04-01 00:00:00,CA,10000.0,True,"MAJOR DEPRESSIVE DISORDER, SINGLE EPISODE, MOD...",OTHERS
1,431835,296410.0,1971-01-01,MALE,WHITE,NaN,OLATHE,KS,66062,13CR00129,...,13000836,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2013-01-19 00:00:00,2013-01-22 00:00:00,SUR,10000.0,True,SOCIAL PHOBIA,OTHERS
2,431835,296410.0,1971-01-01,MALE,WHITE,NaN,OLATHE,KS,66062,14CR00932,...,14005131,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2014-05-02 00:00:00,2014-05-02 00:00:00,SUR,5000.0,True,SOCIAL PHOBIA,OTHERS
3,658145,350849.0,1997-04-12,FEMALE,WHITE,S,EDGERTON,KS,66021,15CR02335,...,15011570,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2015-10-07 00:00:00,2015-10-07 00:00:00,SUR,10000.0,True,NaN,NaN
4,658145,350849.0,1997-04-12,FEMALE,WHITE,S,EDGERTON,KS,66021,15CR02335,...,15011570,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2015-10-07 00:00:00,2015-10-07 00:00:00,SUR,10000.0,True,NaN,NaN
5,655865,370683.0,1984-08-03,MALE,WHITE,S,OLATHE,KS,66062,13CR00468,...,13002475,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2013-03-03 00:00:00,2013-03-03 00:00:00,SUR,1000.0,True,NaN,NaN
6,631990,467807.0,1975-02-18,MALE,WHITE,M,LEAWOOD,KS,66209,11DV01549,...,11014542,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2011-12-01 00:00:00,2011-12-01 00:00:00,SUR,3500.0,True,NaN,NaN
7,510773,103594.0,1991-06-11,MALE,WHITE,S,OVERLAND PARK,KS,66212,15DV00580,...,15005330,OVERLAND PARK P.D.,CITY,2015-05-07 00:00:00,2015-05-08 00:00:00,PR,2500.0,True,NaN,NaN
8,694772,112221.0,1952-02-01,MALE,WHITE,M,OVERLAND PARK,KS,66210,15CR01391,...,15006763,PRAIRIE VILLAGE P.D.,CITY,2015-06-11 00:00:00,2015-06-12 00:00:00,SUR,5000.0,True,NaN,NaN
9,694772,112221.0,1952-02-01,MALE,WHITE,M,OVERLAND PARK,KS,66210,15CR02428,...,15011602,OVERLAND PARK P.D.,CITY,2015-10-08 00:00:00,2015-10-08 00:00:00,SUR,25000.0,True,NaN,NaN
10,704863,221941.0,1990-04-30,MALE,WHITE,S,KANSAS CITY,MO,64155,16CR00429,...,16001911,KANSAS HIGHWAY PATROL,STATE,2016-02-14 00:00:00,2016-02-14 00:00:00,SUR,2500.0,True,NaN,NaN
11,58336,227037.0,1959-10-28,MALE,WHITE,M,SHAWNEE,KS,66203,12DV01408,...,12012426,SHAWNEE P.D.,CITY,2012-10-16 00:00:00,2012-10-16 00:00:00,PR,1000.0,True,NaN,NaN
12,587326,230580.0,1990-12-19,FEMALE,WHITE,NaN,OLATHE,KS,66061,10CR00595,...,10003486,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2010-03-16 00:00:00,2010-03-17 00:00:00,SUR,1500.0,True,"MANIC DEPRESSIVE PSYCHOSIS, OTHER (MIXED)",SELF
13,587326,230580.0,1990-12-19,FEMALE,WHITE,NaN,OLATHE,KS,66061,12DV00006,...,12000013,OVERLAND PARK P.D.,CITY,2012-01-01 00:00:00,2012-01-02 00:00:00,ORCD,1000.0,True,"MANIC DEPRESSIVE PSYCHOSIS, OTHER (MIXED)",SELF
14,494538,257633.0,1987-01-26,MALE,WHITE,S,LENEXA,KS,66227,11CR01188,...,11006356,SHAWNEE P.D.,CITY,2011-05-26 00:00:00,2011-05-27 00:00:00,SUR,5000.0,True,NaN,NaN
15,494538,257633.0,1987-01-26,MALE,WHITE,S,LENEXA,KS,66227,15CR00414,...,15002918,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2015-03-10 00:00:00,2015-03-10 00:00:00,SUR,5000.0,True,NaN,NaN
16,539014,542695.0,1991-04-12,MALE,WHITE,S,SHAWNEE,KS,66216,14CR02341,...,14012292,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2014-10-21 00:00:00,2014-12-16 00:00:00,PR,1000.0,True,NaN,NaN
17,539014,542695.0,1991-04-12,MALE,WHITE,S,SHAWNEE,KS,66216,14CR02341,...,14012292,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2014-10-21 00:00:00,2014-12-16 00:00:00,PR,1000.0,True,NaN,NaN
18,67267,109603.0,1974-01-11,FEMALE,WHITE,S,SHAWNEE,KS,66203,10CR00866,...,10004550,OLATHE P.D.,CITY,2010-04-08 00:00:00,2010-04-08 00:00:00,SUR,10000.0,True,"BIPOLAR DISORDER, DEPRESSED, MODERATE",OTHERS
19,67267,661191.0,1965-09-07,MALE,WHITE,S,OLATHE,KS,66062,10CR00866,...,10004550,OLATHE P.D.,CITY,2010-04-08 00:00:00,2010-04-08 00:00:00,SUR,10000.0,True,NaN,NaN
20,621169,25520.0,1973-04-21,FEMALE,WHITE,D,GARDNER,KS,66030,11DV00523,...,11005170,GARDNER P.D.,CITY,2011-05-02 00:00:00,2011-05-02 00:00:00,PR,1500.0,True,NaN,NaN
21,514367,415592.0,1987-09-26,MALE,BLACK OR AFRICAN AMERICAN,S,KANSAS CITY,KS,66102,14DV00162,...,14001488,OVERLAND PARK P.D.,CITY,2014-02-06 00:00:00,2014-02-06 00:00:00,SUR,500.0,True,NaN,NaN
22,139761,28340.0,1980-07-07,FEMALE,WHITE,NaN,KANSAS CITY,KS,66106,11DV00212,...,11002143,OLATHE P.D.,CITY,2011-02-21 00:00:00,2011-02-21 00:00:00,SUR,1500.0,True,PROLONGED POST TRAUMATIC STRESS DISORDER,SELF
23,139761,28340.0,1980-07-07,FEMALE,WHITE,NaN,KANSAS CITY,KS,66106,12DV00734,...,12006484,OLATHE P.D.,CITY,2012-05-31 00:00:00,2012-07-17 00:00:00,PR,5000.0,True,PROLONGED POST TRAUMATIC STRESS DISORDER,SELF
24,139761,28340.0,1980-07-07,FEMALE,WHITE,NaN,KANSAS CITY,KS,66106,14DV00024,...,14000206,OLATHE P.D.,CITY,2014-01-07 00:00:00,2014-05-07 00:00:00,NaN,NaN,False,PROLONGED POST TRAUMATIC STRESS DISORDER,SELF
25,548064,407156.0,1992-04-08,MALE,WHITE,S,OVERLAND PARK,KS,66204,11DV00831,...,11007979,OVERLAND PARK P.D.,CITY,2011-07-01 00:00:00,2011-07-02 00:00:00,PR,750.0,True,NaN,NaN
26,548064,407156.0,1992-04-08,MALE,WHITE,S,OVERLAND PARK,KS,66204,13CR02804,...,13014132,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2013-12-06 00:00:00,2013-12-06 00:00:00,SUR,10000.0,True,NaN,NaN
27,548064,407156.0,1992-04-08,MALE,WHITE,S,OVERLAND PARK,KS,66204,13DV00715,...,13006876,OLATHE P.D.,CITY,2013-06-15 00:00:00,2013-06-16 00:00:00,SUR,2500.0,True,NaN,NaN
28,548064,407156.0,1992-04-08,MALE,WHITE,S,OVERLAND PARK,KS,66204,11DV00831,...,11007979,OVERLAND PARK P.D.,CITY,2011-07-01 00:00:00,2011-07-02 00:00:00,PR,750.0,True,NaN,NaN
29,548064,407156.0,1992-04-08,MALE,WHITE,S,OVERLAND PARK,KS,66204,13CR02804,...,13014132,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2013-12-06 00:00:00,2013-12-06 00:00:00,SUR,10000.0,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34793,637080,439886.0,1990-02-19,MALE,BLACK OR AFRICAN AMERICAN,S,KANSAS CITY,MO,64110,12CR00470,...,12003011,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2012-03-09 00:00:00,2013-06-25 00:00:00,NaN,NaN,False,NaN,NaN
34794,668119,533711.0,1956-01-09,MALE,WHITE,S,OLATHE,KS,66061,13CR02491,...,13012497,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2013-10-27 00:00:00,2013-10-27 00:00:00,CA,1000.0,True,NaN,NaN
34795,617003,556426.0,1985-07-03,MALE,WHITE,M,OLATHE,KS,66061,11DV00179,...,11001779,OLATHE P.D.,CITY,2011-02-12 00:00:00,2011-05-31 00:00:00,NaN,NaN,False,NaN,NaN
34796,632418,648270.0,1964-10-22,MALE,WHITE,M,EDWARDSVILLE,KS,66113,12CR00431,...,14000132,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2014-01-04 00:00:00,2014-01-04 00:00:00,SUR,2500.0,True,NaN,NaN
34797,665935,450785.0,1980-11-05,MALE,WHITE,S,OVERLAND PARK,KS,66210,16DV00055,...,16000489,OVERLAND PARK P.D.,CITY,2016-01-13 00:00:00,2016-01-13 00:00:00,SUR,1500.0,True,NaN,NaN
34798,610752,677498.0,1990-12-07,MALE,BLACK OR AFRICAN AMERICAN,S,KANSAS CITY,MO,64108,10CR02484,...,10013109,OVERLAND PARK P.D.,CITY,2010-10-10 00:00:00,2010-10-11 00:00:00,SUR,2000.0,True,NaN,NaN
34799,52793,744973.0,1961-08-05,MALE,WHITE,M,OLATHE,KS,66062,16DV00119,...,16001155,OLATHE P.D.,CITY,2016-01-27 00:00:00,2016-01-28 00:00:00,PR,2500.0,True,NaN,NaN
34800,691375,388168.0,1974-04-23,MALE,WHITE,M,OVERLAND PARK,KS,66210,15DV00415,...,15003845,OVERLAND PARK P.D.,CITY,2015-04-03 00:00:00,2015-04-03 00:00:00,SUR,1500.0,True,NaN,NaN
34801,686722,592745.0,1980-06-26,MALE,WHITE,S,KANSAS CITY,MO,64113,14DV01514,...,14014207,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2014-12-10 00:00:00,2014-12-10 00:00:00,SUR,1500.0,True,NaN,NaN
34802,621172,343542.0,1973-04-04,MALE,BLACK OR AFRICAN AMERICAN,S,OVERLAND PARK,KS,66212,11DV00532,...,11005180,OVERLAND PARK P.D.,CITY,2011-05-02 00:00:00,2011-05-04 00:00:00,SUR,2500.0,True,NaN,NaN
34803,621172,343542.0,1973-04-04,MALE,BLACK OR AFRICAN AMERICAN,S,OVERLAND PARK,KS,66212,16CR00856,...,16003765,KANSAS HIGHWAY PATROL,STATE,2016-03-27 00:00:00,2016-03-28 00:00:00,PR,2500.0,True,NaN,NaN
34804,487392,135513.0,1988-04-23,MALE,WHITE,S,KANSAS CITY,KS,66103,14CR02025,...,14011457,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2014-09-29 00:00:00,2014-10-01 00:00:00,SUR,10000.0,True,NaN,NaN
34805,141481,579950.0,1979-11-03,MALE,WHITE,S,STILWELL,KS,66085,14CR00357,...,14001866,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2014-02-15 00:00:00,2014-02-15 00:00:00,GPS,1000.0,True,NaN,NaN
34806,526087,223013.0,1992-06-02,FEMALE,BLACK OR AFRICAN AMERICAN,S,KANSAS CITY,MO,64130,07JV00027,...,10000223,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2010-02-03 00:00:00,2010-02-04 00:00:00,NaN,NaN,False,NaN,NaN
34807,526087,223013.0,1992-06-02,FEMALE,BLACK OR AFRICAN AMERICAN,S,KANSAS CITY,MO,64130,11CR00649,...,11003734,OLATHE P.D.,CITY,2011-03-29 00:00:00,2011-03-29 00:00:00,SUR,2500.0,True,NaN,NaN
34808,526087,223013.0,1992-06-02,FEMALE,BLACK OR AFRICAN AMERICAN,S,KANSAS CITY,MO,64130,07JV00027,...,10000223,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2010-02-03 00:00:00,2010-02-04 00:00:00,NaN,NaN,False,NaN,NaN
34809,526087,223013.0,1992-06-02,FEMALE,BLACK OR AFRICAN AMERICAN,S,KANSAS CITY,MO,64130,11CR00649,...,11003734,OLATHE P.D.,CITY,2011-03-29 00:00:00,2011-03-29 00:00:00,SUR,2500.0,True,NaN,NaN
34810,661283,236650.0,1977-04-11,FEMALE,WHITE,S,SPRING HILL,KS,66083,13DV01566,...,13014614,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2013-12-18 00:00:00,2013-12-18 00:00:00,SUR,2500.0,True,NaN,NaN
34811,595509,413161.0,1981-12-31,MALE,WHITE,NaN,OVERLAND PARK,KS,66212,10CR00246,...,10001297,OVERLAND PARK P.D.,CITY,2010-01-29 00:00:00,2010-01-30 00:00:00,SUR,1500.0,True,NaN,NaN
34812,643099,665393.0,1993-11-01,MALE,BLACK OR AFRICAN AMERICAN,S,OVERLAND PARK,KS,66213,13CR00146,...,13001028,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2013-01-24 00:00:00,2013-04-01 00:00:00,PR,10000.0,True,NaN,NaN
34813,703461,20065.0,1982-03-11,FEMALE,WHITE,S,JEFFERSON CITY,MO,65101,16CR00095,...,16000450,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2016-01-12 00:00:00,2016-01-12 00:00:00,SUR,1000.0,True,NaN,NaN
34814,691211,91326.0,1992-10-29,MALE,WHITE,S,KANSAS CITY,KS,66102,15DV00400,...,15003714,MERRIAM P.D.,CITY,2015-03-30 00:00:00,2015-03-31 00:00:00,PR,1000.0,True,NaN,NaN
34815,649115,742493.0,1995-11-26,MALE,WHITE,S,OVERLAND PARK,KS,66207,15DV00451,...,15004245,OLATHE P.D.,CITY,2015-04-13 00:00:00,2015-04-13 00:00:00,PR,2500.0,True,NaN,NaN
34816,624233,544732.0,1981-05-10,MALE,WHITE,NaN,LENEXA,KS,66215,15CR02999,...,15014095,MERRIAM P.D.,CITY,2015-12-09 00:00:00,2015-12-09 00:00:00,SUR,5000.0,True,NaN,NaN
34817,393726,674256.0,1984-03-07,MALE,WHITE,S,OVERLAND PARK,KS,66212,10CR01234,...,10006739,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2010-05-26 00:00:00,2010-05-27 00:00:00,SUR,10000.0,True,NaN,NaN
34818,393726,674256.0,1984-03-07,MALE,WHITE,S,OVERLAND PARK,KS,66212,10CR01234,...,10006739,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2010-05-26 00:00:00,2010-05-27 00:00:00,SUR,10000.0,True,NaN,NaN
34819,697108,35713.0,1988-05-11,FEMALE,WHITE,M,GIDEON,MO,63848,15DV00978,...,15008865,OVERLAND PARK P.D.,CITY,2015-08-02 00:00:00,2015-08-03 00:00:00,PR,2500.0,True,NaN,NaN
34820,354499,359078.0,1986-06-19,MALE,WHITE,S,KANSAS CITY,MO,64137,14DV01165,...,14011116,OVERLAND PARK P.D.,CITY,2014-09-20 00:00:00,2014-09-20 00:00:00,SUR,0.0,True,NaN,NaN
34821,354499,359078.0,1986-06-19,MALE,WHITE,S,KANSAS CITY,MO,64137,14DV01165,...,14011116,OVERLAND PARK P.D.,CITY,2014-09-20 00:00:00,2014-09-20 00:00:00,SUR,0.0,True,NaN,NaN
34822,606679,550016.0,1981-02-04,MALE,WHITE,D,CLARKRANGE,TN,38553,10CR01863,...,10009716,OVERLAND PARK P.D.,CITY,2010-07-30 00:00:00,2011-01-25 00:00:00,NaN,NaN,False,NaN,NaN

In [35]:
almost_done['mh_treatment'] = pd.notna(almost_done["refferal_source"])

In [36]:
almost_done.shape

(34823, 22)

In [37]:
almost_done = almost_done.drop_duplicates()

In [38]:
almost_done = almost_done.dropna(subset = ['dedupe_id'])

In [39]:
almost_done.shape

(29504, 22)

In [40]:
almost_done.columns

Index(['mni_no', 'dedupe_id', 'dob', 'sex', 'race', 'mar_stat', 'city',
       'state', 'zip', 'case_no', 'case_type', 'booking_no',
       'arresting_agency', 'arresting_agency_type', 'booking_date',
       'release_date', 'bail_type', 'bail_amt', 'bailed_out', 'pri_dx_value',
       'refferal_source', 'mh_treatment'],
      dtype='object')

In [41]:
def convert_datetime(df, cols):
    for col in cols:
        df[col] = pd.to_datetime(df[col])

In [42]:
convert_datetime(almost_done, ['booking_date', 'release_date', 'dob'])

In [43]:
#3 Pre-Process & Filling Missing Data#3 Pre-P 
def Detect_missing_value(df):
    '''
    Find out the columns have missing values

    Input:
        df: (pandas dataframe)
 
    Returns:
        a list of those column names
    '''
    rv = []
    for col in df.columns:
        if df[col].count() < df.shape[0]:
            rv.append(col)
            print(col, "has missing values.")
    return rv

In [44]:
Detect_missing_value(almost_done)

sex has missing values.
mar_stat has missing values.
city has missing values.
state has missing values.
zip has missing values.
arresting_agency has missing values.
arresting_agency_type has missing values.
release_date has missing values.
bail_type has missing values.
bail_amt has missing values.
pri_dx_value has missing values.
refferal_source has missing values.

['sex',
 'mar_stat',
 'city',
 'state',
 'zip',
 'arresting_agency',
 'arresting_agency_type',
 'release_date',
 'bail_type',
 'bail_amt',
 'pri_dx_value',
 'refferal_source']

In [45]:
# get numeric columns 
num_cols = almost_done._get_numeric_data().columns
num_cols

Index(['mni_no', 'dedupe_id', 'booking_no', 'bail_amt', 'bailed_out',
       'mh_treatment'],
      dtype='object')

In [46]:
#and then find out categorical columns
cate_cols = list(set(almost_done.columns) - set(num_cols))
cate_cols

['mar_stat',
 'race',
 'case_type',
 'bail_type',
 'case_no',
 'city',
 'dob',
 'arresting_agency_type',
 'arresting_agency',
 'refferal_source',
 'sex',
 'pri_dx_value',
 'release_date',
 'state',
 'booking_date',
 'zip']

In [47]:
# FILL IN MISSING VALUES WITH SELECTED METHODS FOR EACH TYPE 
def Fill_in(df, cols, method="mean"):
    '''
    Filling in missing values with "mean" or "median"
    
    Inputs:
        df: (pandas dataframe)
        a list of those column names
        method (string): mean or median
 
    Returns:
        pandas dataframe
    '''
    for col in cols:
        if df[col].dtype == 'object':
            try:
                df[col].fillna(df[col].mode()[0], inplace=True)
            except:
                df[col].fillna("")
        if method =='mean':
            val = df[col].mean()
        elif method =='median':
            val = df[col].median()
        elif method =='mode':
            val = df[col].mode()
            val = str(val)
        elif method == 'missing':
            val = "missing"
        df[col] = df[col].fillna(val)
        print ('Filling missing value for {} using {}'.format(col, method))
    return df

In [48]:
almost_done = Fill_in(almost_done, ['city', 'state', 'race', 'mar_stat'], "missing")

Filling missing value for city using missing
Filling missing value for state using missing
Filling missing value for race using missing
Filling missing value for mar_stat using missing

In [49]:
fill_with_mode = ['sex', 'arresting_agency', 'arresting_agency_type', 'bail_type', 'pri_dx_value']

In [50]:
almost_done.sex.unique()

array(['MALE', 'FEMALE', nan], dtype=object)

In [51]:
almost_done = Fill_in(almost_done, fill_with_mode, "mode")
almost_done = Fill_in(almost_done, ['bail_amt'], "median")

Filling missing value for sex using mode
Filling missing value for arresting_agency using mode
Filling missing value for arresting_agency_type using mode
Filling missing value for bail_type using mode
Filling missing value for pri_dx_value using mode
Filling missing value for bail_amt using median

In [52]:
Detect_missing_value(almost_done)

zip has missing values.
release_date has missing values.
refferal_source has missing values.

['zip', 'release_date', 'refferal_source']

In [53]:
almost_done['bailed_out'].head()

0    True
1    True
2    True
3    True
5    True
Name: bailed_out, dtype: bool

In [54]:
#convert dummy var
almost_done['bailed_out'] = almost_done['bailed_out']*1

In [55]:
#convert dummy var
almost_done['mh_treatment'] = almost_done['mh_treatment']*1

In [56]:
almost_done[almost_done['dedupe_id']==296410]

,mni_no,dedupe_id,dob,sex,race,mar_stat,city,state,zip,case_no,...,arresting_agency,arresting_agency_type,booking_date,release_date,bail_type,bail_amt,bailed_out,pri_dx_value,refferal_source,mh_treatment
1,431835,296410.0,1971-01-01,MALE,WHITE,S,OLATHE,KS,66062,13CR00129,...,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2013-01-19,2013-01-22,SUR,10000.0,1,SOCIAL PHOBIA,OTHERS,1
2,431835,296410.0,1971-01-01,MALE,WHITE,S,OLATHE,KS,66062,14CR00932,...,JOHNSON COUNTY SHERIFF'S DEPARTMENT,COUNTY SHERIFF,2014-05-02,2014-05-02,SUR,5000.0,1,SOCIAL PHOBIA,OTHERS,1

In [57]:
almost_done['re_entry'] = almost_done['dedupe_id'].map(almost_done['dedupe_id'].value_counts())

In [58]:
almost_done['re_entry'] = np.where(almost_done['re_entry']>1, 1, 0)

In [59]:
#create age at the released_date
almost_done['age']= almost_done['release_date'].dt.year - almost_done['dob'].dt.year

In [60]:
almost_done.head()

,mni_no,dedupe_id,dob,sex,race,mar_stat,city,state,zip,case_no,...,booking_date,release_date,bail_type,bail_amt,bailed_out,pri_dx_value,refferal_source,mh_treatment,re_entry,age
0,679537,301831.0,1974-04-02,MALE,WHITE,M,SHAWNEE,KS,66226,15CR00773,...,2015-04-01,2015-04-01,CA,10000.0,1,"MAJOR DEPRESSIVE DISORDER, SINGLE EPISODE, MOD...",OTHERS,1,0,41.0
1,431835,296410.0,1971-01-01,MALE,WHITE,S,OLATHE,KS,66062,13CR00129,...,2013-01-19,2013-01-22,SUR,10000.0,1,SOCIAL PHOBIA,OTHERS,1,1,42.0
2,431835,296410.0,1971-01-01,MALE,WHITE,S,OLATHE,KS,66062,14CR00932,...,2014-05-02,2014-05-02,SUR,5000.0,1,SOCIAL PHOBIA,OTHERS,1,1,43.0
3,658145,350849.0,1997-04-12,FEMALE,WHITE,S,EDGERTON,KS,66021,15CR02335,...,2015-10-07,2015-10-07,SUR,10000.0,1,UNSPECIFIED AFFECTIVE PSYCHOSIS,NaN,0,0,18.0
5,655865,370683.0,1984-08-03,MALE,WHITE,S,OLATHE,KS,66062,13CR00468,...,2013-03-03,2013-03-03,SUR,1000.0,1,UNSPECIFIED AFFECTIVE PSYCHOSIS,NaN,0,0,29.0

In [61]:
almost_done.to_csv('clean_total.csv', index=False)

In [62]:
def within_frame(df, id_num='dedupe_id', timestamp='booking_date', col_name='re-entry', duration=365):
    df = df.sort_values(by=[id_num, timestamp])
    df['{}'.format(col_name)] = df.groupby(id_num)[timestamp].diff()
    df['{}'.format(col_name)] = df['{}'.format(col_name)].apply(lambda x: x.days)
    df['within_{}'.format(duration)] = np.where(df['{}'.format(col_name)]>duration, 1, 0)    

    return df

In [63]:
##################up to now